<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pinterest/css/style.css' %}">
    <title>Pinterest</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic1.jpg'%}" alt="pic1"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic2.jpg'%}" alt="pic2"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic3.jpg'%}" alt="pic3"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic4.jpg'%}" alt="pic4"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic5.jpeg'%}" alt="pic5"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic6.jpg'%}" alt="pic6"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic7.jpeg'%}" alt="pic7"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic8.png'%}" alt="pic8"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic6.jpg'%}" alt="pic6"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic7.jpeg'%}" alt="pic7"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic8.png'%}" alt="pic8"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic6.jpg'%}" alt="pic6"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic7.jpeg'%}" alt="pic7"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic8.png'%}" alt="pic8"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic6.jpg'%}" alt="pic6"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic7.jpeg'%}" alt="pic7"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic8.png'%}" alt="pic8"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic6.jpg'%}" alt="pic6"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic7.jpeg'%}" alt="pic7"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic8.png'%}" alt="pic8"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic6.jpg'%}" alt="pic6"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic7.jpeg'%}" alt="pic7"></div>
                    <div class="grid-item"><img src="{%static 'pinterest/img/pic8.png'%}" alt="pic8"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="{%static 'pinterest/js/pin.js'%}"></script>
</body>
</html>